<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landslide Detection - Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/styles.css') }}">
    {% block csscontent %}
    {% endblock %}
</head>
<body>
    {% if request.endpoint != 'user.login' %}
    <header>
        <div class="nav-container">
            <nav>
                <ul>
                    <!-- Home -->
                    <li {% if request.endpoint == 'user.index' %} class="active" {% endif %}>
                        <a href="{{ url_for('user.index') }}">Home</a>
                    </li>

                    <!-- Alert -->
                    <li {% if request.endpoint == 'user.alerts' %} class="active" {% endif %}>
                        <a href="{{ url_for('user.alerts') }}">Alert</a>
                    </li>

                    <!-- Camps -->
                    <li {% if request.endpoint == 'user.camps' %} class="active" {% endif %}>
                        <a href="{{ url_for('user.camps') }}">Camps</a>
                    </li>

                    <!-- Donation -->
                    <li {% if request.endpoint == 'user.donations' %} class="active" {% endif %}>
                        <a href="{{ url_for('user.donations') }}">Donation</a>
                    </li>

                    <!-- Volunteer -->
                    <li {% if request.endpoint == 'user.volunteer' %} class="active" {% endif %}>
                        <a href="{{ url_for('user.volunteer') }}">Volunteer</a>
                    </li>

                    <!-- Forums -->
                    <li {% if request.endpoint == 'user.forums' %} class="active" {% endif %}>
                        <a href="{{ url_for('user.forums') }}">Forums</a>
                    </li>

                    <!-- Guide -->
                    <li {% if request.endpoint == 'user.guide' %} class="active" {% endif %}>
                        <a href="{{ url_for('user.guide') }}">Guide</a>
                    </li>

                    <!-- Logout -->
                    <li class="logout"><a href="">Logout</a></li>
                </ul>
            </nav>
        </div>
    </header>
    {% endif %}
    {% block content %}
    {% endblock %}
    {% block jscontent %}
    {% endblock %}
</body>
</html>